# Copia este archivo a .env.local y pega tus valores reales.
# NO subas .env.local a GitHub.

PUBLIC_EPAYCO_PUBLIC_KEY=972cbeeb557265449ca3836b9b408b63
PUBLIC_EPAYCO_TEST=true
EPAYCO_P_CUST_ID_CLIENTE=1559342
EPAYCO_P_KEY=5dfbb06b51e5bfc9d27727beca092b1f
